.home {
  /* background-image: url('https://media.istockphoto.com/photos/dark-blue-stained-grungy-background-or-texture-picture-id1132593892?k=20&m=1132593892&s=612x612&w=0&h=dMVA_OoY01ef2jUR223F4M0vFA4HRZ8i44q9TMZGHcQ='); */
  /* background: rgba(54, 70, 159, 0.783); */
  /* background: linear-gradient(356deg, rgba(54,69,159,1) 16%, rgba(9,6,106,1) 76%); */
  /* background-color: rgba(250, 229, 202, 0.918); */
  /* background-image: url("https://i.pinimg.com/originals/be/0b/76/be0b764efa0d97a45d473665695e30c3.jpg"); */
  /* background-color: rgb(226, 209, 186); */
  background-color: #2a2438;
  height: 200vh;
  margin-bottom: -30px;
  
}

.cardsHome {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  flex-direction: column;
  float: left;
  /* background-color: rgba(102, 102, 134, 0.338); */
  background-color: #352f44;
  
  width: 180px;
  height: 186vh;
  float: left;
  padding: 5px;
  align-items: baseline;
}

/* .reload{
    float: right;
    margin-right: 650px;
    margin-top: 5px;
    margin-bottom: 15px;
} */

.reload {
  /* color: #318aac !important; */
  float: right;
  margin-right: 650px;
  margin-top: 3px;
  color: black;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(250, 235, 215, 0.813);
  border: 2px solid;
  border-color: #000000;
  transition: all 1s ease;
  position: relative;
  cursor: pointer;
}

.reload:hover {
  background: #318aac;
  background: rgba(250, 235, 215, 0.813);
  color: #fff !important;
}

.imagenL{
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: -100px;
  left: 100px;
}