.home {
  /* background-color: rgba(250, 229, 202, 0.918); */
  /* background-image: url("https://images.pexels.com/photos/7235804/pexels-photo-7235804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background-image: url("https://images.pexels.com/photos/5643136/pexels-photo-5643136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(226, 209, 186, 0.895);
  height: 200vh;
  margin-bottom: -30px;
  
}

.cardsHome {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  flex-direction: column;
  float: left;
  /* background-color: #fff; */
  border-right: #000000 solid 1px;
  width: 180px;
  height: 186vh;
  float: left;
  padding: 5px;
  align-items: baseline;
}

.reload {
  /* color: #318aac !important; */
  float: right;
  margin-right: 650px;
  margin-top: 3px;
  color: black;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(250, 235, 215, 0.813);
  border: 2px solid;
  border-color: #000000;
  transition: all 1s ease;
  position: relative;
  cursor: pointer;
}

.reload:hover {
  background: #318aac;
  background: rgba(250, 235, 215, 0.813);
  color: #fff !important;
}

.imagenL{
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: -100px;
  left: 100px;
}

.loader{
  margin-left: 350px;
  height: 75px;
}