.formcontainer {
  /* background: rgb(54,101,159);
    background: linear-gradient(356deg, rgba(54,101,159,1) 0%, rgba(9,6,106,1) 100%); */
  /* background-color: rgba(250, 229, 202, 0.918); */
  background-color: #2A2438;
  height: 1000px;
  margin-bottom: -30px;
}

p.danger {
  color: red;
  font-size: 16px;
  text-decoration: solid;
  display: flex;
}

.h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 0 0 #191818, -2px 0 0 #191818, 0 2px 0 #191818,
    0 -2px 0 #191818, 1px 1px #191818, -1px -1px 0 #191818, 1px -1px 0 #191818,
    -1px 1px 0 #191818;
  color: #dbd8e3eb;
  font-size: 45px;
  font-stretch: extra-expanded;
  margin: 40px 30px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(39, 158, 158, 0.683); */
  background-color: #dbd8e3c1;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid rgb(206, 198, 192);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  margin-left: 450px;
  padding: 10px;
  justify-content: space-around;
  width: 600px;
  height: 720px;
}

.inputs {
  transition: 0.4s;
  font-size: 1rem;
  color: gray;
}

.inputsD {
  transition: 0.4s;
  font-size: 1rem;
  color: gray;
  width: 190px;
}

.divlabels {
  margin-right: 95px;
}

.box {
  margin-top: 10px;
  background-color: rgba(151, 72, 23, 0.648);
  height: 55px;
  border-radius: 4px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img {
  width: 300px;
  border: cornsilk solid 1px;
  border-radius: 6px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: solid;
}

.labelD {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200px;
}

.season {
  display: flex;
  flex-direction: column;
}

.countrybtn{
  background-color: transparent;
  height: 30px;
  margin-top: 15px;
  border: 2px solid #ea5151e7;
  color: #ea5151e7;
  font-weight: 500;
}


.iconHome{
  height: 40px;
  display: flex;
  margin-top: 30px;
  margin-left: 70px;
}

.nav{
  background-color:rgba(16, 15, 15, 0.975);
  display: flex;
  height: 90px;
  justify-content: space-arond;
}