.card{
    box-shadow: 1px 0.5px 7px 1.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgba(231, 229, 229, 0.548) solid 2px;
    border-radius: 35px;
    font: 1em sans-serif;
    /* color: rgba(245, 245, 245, 0.886); */
    font-size: 17px;
    width: 250px;
    padding-top: 10px;
    height: 345px;
    margin-left: 50px;
    margin-bottom: 38px;
    /* background: rgba(9, 6, 106, 0.792);
    background: radial-gradient(circle, rgba(9, 6, 106, 0.822) 27%, rgba(54, 101, 159, 0.863) 90%);
    background-color: rgba(39, 158, 158, 0.331);  */
    /* background-color: #dbd8e377; */
    /* background-color: #5C5470; */
    /* background: rgba(85, 85, 85, 0.091);
    background: linear-gradient(0deg, rgba(85, 85, 85, 0.178) 0%, rgba(232, 234, 240, 0.224) 34%, rgba(154, 155, 157, 0.849) 100%); */
    background-color: #dbd8e387;

}
.card:hover{
    box-shadow: 12px 20px 35px rgba(0,0,0,0.3);
    transition: opacity 0.8s ease-out;
    transform: scale(1.1, 1.2);
}

.font{
    /* text-shadow: 1px 1px 20px; */
    /* color:#131018; */
    /* color: rgba(245, 245, 245, 0.886); */
    font-family: sans-serif;
}
.name{
    text-decoration: none;
    text-shadow: 3px;
    /* color: rgba(245, 245, 245, 0.886); */
    color: black;
    cursor: pointer;
}

.name:hover{
    transition: opacity 0.3s ease-out;
    transform: scale(1.1, 1.1); 
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.557);
}

.img{
    margin-top: 10px;
    border-radius: 10px;
}