.searchbar {
  display: flex;
  margin-top: 36px;
  height: 32px;
  margin-left: 15px;
}

.input {
  /* background-color: rgba(209, 203, 214, 0.69); */
  /* background-color: rgba(110, 107, 112, 0.838); */
    background-color: #DBD8E3;

  border-radius: 10px;
  margin-right: 5px;
  border: 1px solid;
  box-shadow: 3px 1px 7px rgba(168, 163, 163, 0.856);
  color: black;
}

.button {
  /* background-color: rgba(209, 203, 214, 0.831); */
  background-color: #DBD8E3;

  border-radius: 15px;
  height: 32px;
  width: 70px;
  color: rgb(0, 0, 0);
  border: 2px solid;
  margin-top: 1px;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 3px 1px 7px rgba(168, 163, 163, 0.856);
}

.button:hover {
  transform: scale(1.3);
}
