.fondo {
  background-image: url("https://previews.123rf.com/images/kunilanskap/kunilanskap1908/kunilanskap190800001/128299955-travel-concept-background-overhead-view-of-traveler-s-accessories-on-old-vintage-map.jpg");
  /* background-image: url("https://st2.depositphotos.com/4327059/7728/v/950/depositphotos_77281464-stock-illustration-travel-and-tourism-background.jpg"); */
  background-position: center center;
  padding: 0%;
  height: 100vh;
  display: flex;
  background-size: cover;
  margin-bottom: -25px;
}

.title {
  margin: 0 auto;
  margin-top: 250px;
  font-size: 70px;
  color: #ccc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 0 0 #191818, -2px 0 0 #191818, 0 2px 0 #191818,
    0 -2px 0 #191818, 1px 1px #191818, -1px -1px 0 #191818, 1px -1px 0 #191818,
    -1px 1px 0 #191818;
}

.btn {
  position: absolute;
  color: #fff;
  transition-duration: 0.5s;
  border-radius: 15px;
  margin: 0;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background-color: #365b77;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn:hover {
  background: #318aac;
  color: #fff !important;
}