.navbar{
    /* background-color: rgba(30, 19, 19, 0.756); */
    background-color:rgba(0, 0, 0, 0.929);
    display: flex;
    height: 90px;
}

.iconHome{
    height: 40px;
    display: flex;
    margin-top: 30px;
    margin-left: 70px;
}

.iconForm{
    height: 45px;
    display: flex;
    margin-top: 28px;
    margin-left: 15px;
}


